#mycanvas{
    border: 20px solid green;
    align-self: center;
    background-image: url("Assets/bg.jpg");
    
}
.canvas{
   text-align: center;
}
.center {

    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
body{
    background-color: #ffd56b;
}
.intro{
    background-color:#939b62; 
    color: black;
    text-align: center;
    padding-top: 0%;
    margin-bottom: 0%;
    margin-top: 0%;    
    font-size: 3rem;
    font-family: cursive ;
}
.click{
    transition-duration: 0.4s;
    background-color: #e7e7e7; 
    color: black;
    border-radius: 12px;
    font-size: 24px;
    margin: 13px;
}
.click:hover {
    background-color: red;
    color: white;
   
  }
.button{
    text-align: center;
}